<header>
  <nav class="navbar navbar-expand-lg border-bottom py-3">
    <div class="container">
      <a class="navbar-brand" routerLink="">{{title | uppercase}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-outline-dark" aria-current="page" routerLink="create">Create Message</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="bg-body-tertiary p-md-2  p-md-5 py-5">
  <div class="container my-md-5">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/create" class="nav-link px-2 text-body-secondary">Create Message</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-body-secondary">View Messages</a></li>
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Reload Webapp</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 FrontendProfile, Inc</p>
  </footer>
</div>