.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  
    h2 {
      margin-bottom: 20px;
    }
  
    input {
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 200px;
    }
  
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  



  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .success-snackbar {
    background-color: green;
    color: white;
  }

  .invalid-password {
    border: 1px solid red !important; /* Set border color to red */
  }