<form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
    <div class="password-container">
      <h1 class="fs-1"> 🔑 </h1>
      <h2>Enter Your Chabi</h2>
      <input type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'invalid-password': showSnackbar }">

      <button type="submit">OH MY C</button>


      <div *ngIf="showSnackbar" class="py-3 text-center text-danger"><h3 class="fs-3">
        😂, Tum si na hoGa !<br> <br> Nikal Ja C...y 😁
      </h3></div>

    </div>
  </form>
  